#  Example Qudi configuration file.
#
#
#
# IMPORTANT: The format of every 'module.Class' line has changed on 28.6.2015.
# =========  The class name now needs to be explicitly given here in the config.
#		  the config line must the form package.module.Class.ClassName
global:
    # list of modules to load when starting
    startup: ['man', 'tray']

    module_server:
        address: 'localhost'
        port: 12345

    ## For controlling the appearance of the GUI:
    stylesheet: 'qdark.qss'

hardware:
    camera_dummy:
        module.Class: 'camera.camera_dummy.CameraDummy'       
    
    wheel_dummy:
        module.Class: 'wheels.dummy_filter_wheel.FilterWheelDummy'
        num_filters: 6
        filterpositions:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
        filters:
            - '700 +/- 37 nm'
            - '600 +/- 25 nm'
            - '488 - 491 / 561 nm'
            - '525 +/- 22.5 nm'
            - '617 +/- 36 nm'
            - '460 +/- 25 nm'
        allowed_lasers:
            - [True, True, True, True]
            - [True, True, True, True]
            - [True, True, True, True]
            - [True, True, True, True]
            - [True, True, True, False]
            - [True, False, True, True]

            # please specify for all elements corresponding information in the same order.
        
    daq_dummy:
        module.Class: 'daq.dummy_daq.DummyDaq'
        wavelengths:
            - '405 nm'
            - '488 nm'
            - '561 nm'
            - '633 nm'
        ao_channels:
            - '/Dev1/AO0'
            - '/Dev1/AO1'
            - '/Dev1/AO2'
            - '/Dev1/AO3'
        ao_voltage_ranges:
            - [0, 10]
            - [0, 10]
            - [0, 10]
            - [0, 10]
                
    piezo_dummy:
        module.Class: 'motor.motor_dummy.MotorDummy'
            
    motor_dummy_roi:
        module.Class: 'motor.motor_dummy.MotorDummy'
        
    brightfield_dummy:
        module.Class: 'brightfield_dummy.BrightfieldDummy'
                     
    valve_dummy:
        module.Class: 'valve.valve_dummy.ValveDummy'
        num_valves: 3
        daisychain_ID:
            - 'a'
            - 'b'
            - 'c'
        name:
            - 'Buffer 8-way valve'
            - 'Syringe 2-way valve'
            - 'RT rinsing 2-way valve'
        number_outputs:
            - 8
            - 2
            - 2
    
    pump_dummy:
        module.Class: 'microfluidics.pump_dummy.PumpDummy'
        pressure_channel_IDs:
            - 0
        sensor_channel_IDs:
            - 0
        
    motor_dummy_fluidics:
        module.Class: 'motor.motor_dummy.MotorDummy'
        
        
logic:

    tasklogic:
        module.Class: 'taskrunner.TaskRunner'
        tasks:
            DummyTask:
                module: 'dummy'
                   
            MulticolorScanTask:
               module: 'multicolor_scan_task_dummy'
               needsmodules:
                   cam: 'camera_logic'
                   daq: 'lasercontrol_logic'
                   filter: 'filterwheel_logic'
                   piezo: 'focus_logic'
               config:
                   path_to_user_config: '/home/barho/qudi_files/qudi_task_config_files/multicolor_scan_task_dummy.json'
                   
            HiMTask:
                module: 'HiM_task_dummy'
                needsmodules:
                    laser: 'lasercontrol_logic'
                    cam: 'camera_logic'
                    piezo: 'focus_logic'
                    roi: 'roi_logic'
                    valves: 'valve_logic'
                    pos: 'positioning_logic'
                    flow: 'flowcontrol_logic'
                config:
                    path_to_user_config: '/home/barho/qudi_files/qudi_task_config_files/hi_m_task_RAMM.yaml'
           

  
  
    camera_logic:
        module.Class: 'camera_logic2.CameraLogic'
        connect:
            hardware: 'camera_dummy'  
   
    filterwheel_logic:
        module.Class: 'filterwheel_logic.FilterwheelLogic'
        connect:
            wheel: 'wheel_dummy'
            lasercontrol: 'lasercontrol_logic'
                               
    lasercontrol_logic:
        module.Class: 'lasercontrol_logic.LaserControlLogic'
        controllertype: 'daq'  # 'fpga'
        connect:
            controller: 'daq_dummy'
               
    focus_logic:
        module.Class: 'focus_logic.FocusLogic'
        setup : 'PALM'
        init_position : 5 # in µm
        connect: 
            piezo: 'piezo_dummy'
            autofocus : 'autofocus_logic_camera'

    autofocus_logic_camera:
        module.Class: 'autofocus_logic_camera.AutofocusLogic'
        autofocus_ref_axis : 'X' # 'Y'
        proportional_gain : 0.1 # in %%
        integration_gain : 1 # in %%
        exposure : 0.001 # Exposure time in s
        connect:
            camera : 'camera_dummy'
            
    roi_logic: 
        module.Class: 'roi_logic.RoiLogic'
        connect:
            stage: 'motor_dummy_roi'
                   
    brightfield_logic:
        module.Class: 'brightfield_logic.BrightfieldLogic'
        connect:
            controller: 'brightfield_dummy'
            
    valve_logic:
        module.Class: 'valve_logic.ValveLogic'
        connect:
            valves: 'valve_dummy'
        
    flowcontrol_logic:
        module.Class: 'flowcontrol_logic.FlowcontrolLogic'
        connect:
            pump: 'pump_dummy'
        
    positioning_logic:
        module.Class: 'positioning_logic.PositioningLogic'
        z_safety_position: 50
        first_axis: 'X axis'
        second_axis: 'Y axis'
        third_axis: 'Z axis' 
        connect:
            stage: 'motor_dummy_fluidics'
            
    injections_logic:
        module.Class: 'merfish_logic.MerfishLogic'
        default path: '/home/barho'
        merfish_probe_valve_number: 7
        number_of_valve_positions: 8
        number_of_probes: 100
        
    exp_config_logic:
        module.Class: 'experiment_configurator_logic.ExpConfigLogic'
        experiments:
            - 'Multicolor imaging'
            - 'Multicolor scan PALM'
            - 'Multicolor scan RAMM'
            - 'ROI multicolor scan'
            - 'Fluidics'
            - 'Hi-M'
            - 'Photobleaching'
        supported fileformats:
            - 'tiff'
            - 'fits'
        default path imagedata: '/home/barho/images'
        connect:
            camera_logic: 'camera_logic'
            laser_logic: 'lasercontrol_logic'
            filterwheel_logic: 'filterwheel_logic'

gui:
    tray:
        module.Class: 'trayicon.TrayIcon'

    man:
        module.Class: 'manager.managergui.ManagerGui'
        
    basic_gui:
        module.Class: 'fluorescence_microscopy.basic_gui.BasicGUI'
        default_path: '/home/barho/images'
        brightfield_control: False
        connect:
            camera_logic: 'camera_logic'
            laser_logic: 'lasercontrol_logic'
            filterwheel_logic: 'filterwheel_logic'
            brightfield_logic: 'brightfield_logic'
                          
    focus_gui:
        module.Class: 'focus.focus_gui.FocusGUI'
        connect:
            focus_logic: 'focus_logic'
            
    roi_gui:
        module.Class: 'ROI.roi_gui.RoiGUI' 
        default_path: '/home/barho/qudi_files/qudi_roi_lists'  
        stagemarker_width: 50  # in um   
        connect: 
            roi_logic: 'roi_logic'
                        
    fluidics_gui:
        module.Class: 'fluidics.fluidics_gui.FluidicsGUI'
        pos1_x_default: 12.0
        pos1_y_default: 4.5
        pos1_z_default: 89.0
        connect:
            valve_logic: 'valve_logic'
            flowcontrol_logic: 'flowcontrol_logic'
            positioning_logic: 'positioning_logic'
                    
    injections_gui:
        module.Class: 'merfish.merfish_gui.MerfishGUI'
        default_path: '/home/barho/qudi_files/qudi_injection_parameters'
        connect:
            merfish_logic: 'injections_logic'
                    
    exp_configurator_gui:
        module.Class: 'experiment_configurator.exp_configurator_gui.ExpConfiguratorGUI'
        default_location_qudi_files: '/home/barho/qudi_files'
        connect:
            exp_logic: 'exp_config_logic'
                       
    taskrunner:
        module.Class: 'taskrunner.taskgui.TaskGui'
        connect:
            tasklogic: 'tasklogic'
            
            



            

        
        
    



